{% extends 'base.html' %}

{% block content %}

    <div class="main-div">
        <div class="sub-div-1">
            <div>
                <p class="page-title">Decline Curve + Product Price + Expense</p>
                <p class="page-description">Give required details to get production values.</p>
            </div>


            <form method="POST" class="post-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <div class="form-group" style="padding-top: 2%;">
                        <label for="id_product" class="col-sm-3 control-label" style="font-weight: bold;">Oil or Gas</label>
                        <div class="col-sm-2" style="padding-top: 1%;">
                            <select name="product" id="id_product" class="form-control" class="form-input-option" onchange="onSelectProd()">
                                <option value="oil">Oil</option>
                                <option value="gas">Gas</option>
                            </select>
                        </div>
                        <div class="col-sm-7"></div>
                    </div>

                    <div style="display: flex;">
                        <div class="form-group" style="flex: 0.5; padding-top: 2%;">
                            <label for="id_scf_bo" class="col-sm-3 control-label" style="font-weight: bold;">SCF/BO</label>
                            <div class="col-sm-6" style="padding-top: 1%;">
                                <input type="number" name="scf_bo" id="id_scf_bo" class="form-control" value="560" class="form-input-number" />
                            </div>
                            <div class="col-sm-3"></div>
                        </div>

                        <div class="form-group" style="flex: 0.5; padding-top: 2%;">
                            <label for="id_bc_mmscfg" class="col-sm-3 control-label" style="font-weight: bold;">BC/MMSCFG</label>
                            <div class="col-sm-6" style="padding-top: 1%;">
                                <input type="number" name="bc_mmscfg" id="id_bc_mmscfg" class="form-control" value="56" class="form-input-number" />
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>
                </div>

                <div>
                    <p class="page-formTitle">Product Prices and Uncertainity Information</p>

                    <div style="display: flex;">
                        <div class="form-group" style="flex: 0.5; padding-top: 2%;">
                            <label for="id_oilPrice" class="col-sm-3 control-label" style="font-weight: bold;">Oil Price ($/bbl)</label>
                            <div class="col-sm-6" style="padding-top: 1%;">
                                <input type="number" name="oilPrice" id="id_oilPrice" class="form-control" value="67" class="form-input-number" />
                            </div>
                            <div class="col-sm-3"></div>
                        </div>

                        <div class="form-group" style="flex: 0.5; padding-top: 2%;">
                            <label for="id_oilSD" class="col-sm-3 control-label" style="font-weight: bold;">Monthly Standard Deviation of Oil Price (%)</label>
                            <div class="col-sm-6" style="padding-top: 1%;">
                                <input type="number" name="oilSD" id="id_oilSD" class="form-control" value="9" min="0" max="100" class="form-input-number" />
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>

                    <div style="display: flex;">
                        <div class="form-group" style="flex: 0.5; padding-top: 2%;">
                            <label for="id_gasPrice" class="col-sm-3 control-label" style="font-weight: bold;">Gas Price ($/MSCFG)</label>
                            <div class="col-sm-6" style="padding-top: 1%;">
                                <input type="number" name="gasPrice" id="id_gasPrice" class="form-control" value="3.67" class="form-input-number" />
                            </div>
                            <div class="col-sm-3"></div>
                        </div>

                        <div class="form-group" style="flex: 0.5; padding-top: 2%;">
                            <label for="id_gasSD" class="col-sm-3 control-label" style="font-weight: bold;">Monthly Standard Deviation of Gas Price (%)</label>
                            <div class="col-sm-6" style="padding-top: 1%;">
                                <input type="number" name="gasSD" id="id_gasSD" class="form-control" value="13" min="0" max="100" class="form-input-number" />
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>

                    <div style="display: flex;">
                        <div class="form-group" style="flex: 0.5; padding-top: 2%;">
                            <label for="id_oilPerc" class="col-sm-3 control-label" style="font-weight: bold;">Oil Price Probability Percentile (%)</label>
                            <div class="col-sm-6" style="padding-top: 1%;">
                                <input type="number" name="oilPerc" id="id_oilPerc" class="form-control" value="80" min="0" max="100" class="form-input-number" />
                            </div>
                            <div class="col-sm-3"></div>
                        </div>

                        <div class="form-group" style="flex: 0.5; padding-top: 2%;">
                            <label for="id_gasPerc" class="col-sm-3 control-label" style="font-weight: bold;">Gas Price Probability Percentile (%)</label>
                            <div class="col-sm-6" style="padding-top: 1%;">
                                <input type="number" name="gasPerc" id="id_gasPerc" class="form-control" value="65" min="0" max="100" class="form-input-number" />
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>

                    <div style="display: flex;">
                        <div class="form-group" style="flex: 0.5; padding-top: 2%;">
                            <label for="id_royalty" class="col-sm-3 control-label" style="font-weight: bold;">Royalty</label>
                            <div class="col-sm-6" style="padding-top: 1%;">
                                <input type="number" name="royalty" id="id_royalty" class="form-control" value="0.1865" class="form-input-number" />
                            </div>
                            <div class="col-sm-3"></div>
                        </div>

                        <div class="form-group" style="flex: 0.5; padding-top: 2%;">
                            <label for="id_priceUC" class="col-sm-3 control-label" style="font-weight: bold;">Increase Price Uncertainty with Time</label>
                            <div class="col-sm-6" style="padding-top: 1%;">
                                <select name="priceUC" id="id_priceUC" class="form-control" class="form-input-option">
                                    <option value="on">On</option>
                                    <option value="off">Off</option>
                                </select>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>
                </div>

                <div>
                    <p class="page-formTitle">Expense Information</p>

                    <div style="display: flex;">
                        <div class="form-group" style="flex: 0.5; padding-top: 2%;">
                            <label for="id_fixedCost" class="col-sm-3 control-label" style="font-weight: bold;">Fixed Cost ($/Month)</label>
                            <div class="col-sm-6" style="padding-top: 1%;">
                                <input type="number" name="fixedCost" id="id_fixedCost" class="form-control" value="11000" class="form-input-number" />
                            </div>
                            <div class="col-sm-3"></div>
                        </div>

                        <div class="form-group" style="flex: 0.5; padding-top: 2%;">
                            <label for="id_indProdCost" class="col-sm-3 control-label" style="font-weight: bold;">Variable Cost Independent of Production ($/Month)</label>
                            <div class="col-sm-6" style="padding-top: 1%;">
                                <input type="number" name="indProdCost" id="id_indProdCost" class="form-control" value="5000" class="form-input-number" />
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>

                    <div style="display: flex;">
                        <div class="form-group" style="flex: 0.5; padding-top: 2%;">
                            <label for="id_oilProdCost" class="col-sm-3 control-label" style="font-weight: bold;">Variable Cost based on Oil Production ($/bbl)</label>
                            <div class="col-sm-6" style="padding-top: 1%;">
                                <input type="number" name="oilProdCost" id="id_oilProdCost" class="form-control" value="9" class="form-input-number" />
                            </div>
                            <div class="col-sm-3"></div>
                        </div>

                        <div class="form-group" style="flex: 0.5; padding-top: 2%;">
                            <label for="id_gasProdCost" class="col-sm-3 control-label" style="font-weight: bold;">Variable Cost based on Gas Production ($/MSCFG)</label>
                            <div class="col-sm-6" style="padding-top: 1%;">
                                <input type="number" name="gasProdCost" id="id_gasProdCost" class="form-control" value="0.55" class="form-input-number" />
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>

                    <div style="display: flex;">
                        <div class="form-group" style="flex: 0.5; padding-top: 2%;">
                            <label class="col-sm-3 control-label" style="font-weight: bold;">Excel File of Previous 36 Months</label>
                            <div class="col-sm-6" style="padding-top: 1%;">
                                <input type="file" name="outputFileInput" id="id_outputFileInput" class="form-control">
                            </div>
                            <div class="col-sm-3"></div>
                        </div>

                        <div class="form-group" style="flex: 0.5; padding-top: 2%;">
                            <label class="col-sm-3 control-label" style="font-weight: bold;">Excel File of Hedged Values</label>
                            <div class="col-sm-6" style="padding-top: 1%;">
                                <input type="file" name="hedgedFileInput" id="id_hedgedExcelFile" class="form-control" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>
                </div>

                <div>
                    <input type="submit" value="Import Excel File for Historical Production" class="btn btn-primary col-sm-offset-3" style="margin-top: 4%; margin-bottom: 5%; padding: 1% 5% 1% 5%;"/>
                </div>
            </form>
        </div>
    </div>



<!--    <script>-->
<!--    function onSelectProd() {-->
<!--        var type = document.getElementById("id_product");-->
<!--        console.log(type);-->
<!--        if (type.value == "gas") {-->
<!--            document.getElementById("id_scf_bo").disabled = true;-->
<!--            document.getElementById("id_bc_mmscfg").disabled = false;-->
<!--        }-->
<!--        else {-->
<!--            document.getElementById("id_scf_bo").disabled = false;-->
<!--            document.getElementById("id_bc_mmscfg").disabled = true;-->
<!--        }-->
<!--    }-->
<!--    </script>-->



    <style>
        .main-div {
            width: 100%;
            height: 82vh;
            background-color: white;
            padding-top: 5vh;
        }

        .sub-div-1 {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .page-title {
            font-size: 2vw;
            font-weight: 600;
            color: #525252;
        }

        .page-description {
            padding-top: 2%;
            font-size: 1vw;
            font-weight: 400;
            color: #525252;
        }

        .page-formTitle {
            padding-top: 5%;
            font-size: 1.5vw;
            font-weight: 400;
            color: #525252;
        }

        .form-input-option {
            width: 50%;
            padding: 1%;
        }

        .form-input-number {
            width: 75%;
            padding: 2%;
        }

        @media only screen and (max-width: 650px) {
            .sub-div-1 {
                width: 100%;
            }

            .page-title {
                font-size: 4vw;
            }

            .page-description {
                font-size: 2vw;
                font-weight: 400;
            }
        }
    </style>

{% endblock content %}
