{% extends 'base.html' %}

{% block content %}

    <div class="main-div">
        <div class="sub-div-1">
            <div>
                <p class="page-title">Login</p>
            </div>

            <div>
                <form method="POST" class="post-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group" style="padding-top: 2%;">
                        <label for="id_email" class="col-sm-3 control-label" style="font-weight: bold;">Email</label>
                        <div class="col-sm-6" style="padding-top: 1%;">
                            <input type="email" name="email" id="id_email" class="form-control" class="form-input-number" required />
                        </div>
                        <div class="col-sm-3"></div>
                    </div>

                    <div class="form-group" style="padding-top: 2%;">
                        <label for="id_password" class="col-sm-3 control-label" style="font-weight: bold;">Password</label>
                        <div class="col-sm-6" style="padding-top: 1%;">
                            <input type="password" name="password" id="id_password" class="form-control" class="form-input-number" required />
                        </div>
                        <div class="col-sm-3"></div>
                    </div>

                    <input type="submit" value="Submit" class="btn btn-primary col-sm-offset-3" style="margin-top: 2%; padding: 1% 5% 1% 5%;" />
                </form>
            </div>
        </div>
    </div>

    <style>
        .main-div {
            width: 100%;
            height: 82vh;
            background-color: white;
            padding-top: 5vh;
        }

        .form-control {
          width: 30%;
          padding: 5px;
        }

        .sub-div-1 {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .page-title {
            font-size: 2vw;
            font-weight: 600;
            color: #525252;
        }

        .page-description {
            padding-top: 2%;
            font-size: 1vw;
            font-weight: 400;
            color: #525252;
        }

        .form-input-option {
            width: 50%;
            padding: 1%;
        }

        .form-input-number {
            width: 48%;
            padding: 1%;
        }

        @media only screen and (max-width: 650px) {
            .main-div {
                padding-top: 0;
            }

            .form-control {
              width: 50%;
              padding: 5px;
            }

            .col-sm-7, .col-sm-3 {
              margin: 10px;
            }

            .sub-div-1 {
                width: 100%;
            }

            .page-title {
                font-size: 5vw;
                margin-bottom: 0;
            }

            .page-description {
                font-size: 3vw;
                font-weight: 400;
            }
        }
    </style>

{% endblock content %}
