{% extends 'base.html' %}

{% block content %}

    <div class="title-block">
        {% if threshold %}
            <p class="title-para">Decline Curve Analysis, {{threshold}}% Probability of Being Above the <span style="color: red;">Red Line</span></p>
        {% endif %}
    </div>

    <div style="text-align: center; margin-top: 20px">
        <form action="{% url 'downloadexcelA' %}" method="post">
            {% csrf_token %}
             <button type="submit" name="mybtn2" value="download_excel">Download Excel</button>
         </form>
    </div>

    <div class="chart-block">
        {% if chart %}
            <img src="data:image/png;base64, {{chart|safe}}" style="width: 100%; margin-left: auto; margin-right: auto;" />
        {% endif %}
    </div>

    <style>
        .title-block {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .title-para {
            font-size: 1.5vw;
            font-weight: 600;
        }

        .chart-block {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        }

        @media only screen and (max-width: 650px) {
            .title-block {
                width: 90%;
            }

            .title-para {
                font-size: 3vw;
            }

            .chart-block {
                width: 90%;
            }
        }
    </style>

{% endblock content %}
